extends ../layout

block content

  div#busquedaAvanzada

  link(rel='stylesheet', href='/javascripts/extjs/resources/css/ext-all-gray.css')
  script(src="/javascripts/extjs/ext-all.js")
  script(src="/javascripts/busquedaAvanzada.js")
  style
    .page .page-inner .page-body {
      padding: 10px 0px 10px 0px
    }