doctype 5
html
  head
    title Pintura lacrimógena
    link(type="text/css", rel="stylesheet", href="/javascripts/galleria/themes/classic/galleria.classic.css")
    script(src="/javascripts/jquery/jquery-1.8.2.min.js")
    script(src="/javascripts/galleria/galleria-1.2.8.min.js")
    style
      body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
      #galleria{height:100%}

  body
    div#galleria(width="100px", height="40px")
      for obra in obras
        if obra.imagen
          img(src="/images/corpus/#{obra.imagen}", data-title="#{obra.tituloObra}")

  script(type="text/javascript")
    Galleria.loadTheme('/javascripts/galleria/themes/classic/galleria.classic.min.js');
    Galleria.run('#galleria');
    Galleria.ready(function() {
      this.attachKeyboard({
        left: this.prev,
        right: this.next
      });
    });