extends ../layout

block content

  h1 Mapa

  div#mapa

  link(rel='stylesheet', href='/javascripts/openlayers/theme/default/style.css')
  script(src="javascripts/openlayers/OpenLayers.js")
  script(src="javascripts/mapa.js")