if obra.fuente
  p Fuente: #{obra.fuente}
    a(href="#", class="edit_basic_auth") 
      img(src="/images/icons/PNG/dark/16px/16_edit.png")
else
  p Fuente: Fuente desconocida
    a(href="#", class="edit_basic_auth") 
      img(src="/images/icons/PNG/dark/16px/16_edit.png")